.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

@keyframes placeHolderShimmer {
    0%

{
    background-position: -468px 0
}

100% {
    background-position: 468px 0
}

}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}